.button {
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: var(--gradient);
  color: var(--clr-dark-100);
  text-decoration: none;
  transition: color 300ms;
  border: 0;
}

.button:hover {
  background: transparent;
  outline: 2px solid var(--clr-primary-200);
  color: var(--clr-light-100);
}

.button_size_small {
  padding: 14px 30px;
}

.button_size_large {
  padding: 22px 54px;
}
