.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-content_direction_reverse {
  flex-direction: row-reverse;
}

.card-content__image {
  width: 100%;
  max-width: 802px;
  height: auto;
  display: block;
  padding-left: 15px;
}

.card-content__text {
  max-width: 657px;
}

.card-content__title {
  margin-bottom: 30px;
}

.card-content__paragraph {
  margin-bottom: 50px;
}

@media (max-width: 1552px) {
  .card-content {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .card-content__image {
    max-width: 602px;
  }
}

@media (max-width: 1260px) {
  .card-content {
    flex-direction: column;
  }

  .card-content__image {
    max-width: 850px;
  }

  .card-content__text {
    max-width: 850px;
  }
}

@media (max-width: 920px) {
  .card-content__text {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .card-content__text {
    max-width: 500px;
  }
}
