.header {
  background-color: var(--clr-dark-300);
  padding-top: 30px;
  padding-bottom: 63px;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .header__menu {
  display: flex;
  align-items: center;
} */

.header__menu-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
}

.header__menu-item {
  margin-right: 50px;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__menu-link {
  position: relative;
  text-decoration: none;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--clr-light-100);
  text-transform: uppercase;
  transition: opacity 300ms ease-in;
}

.header__menu-link_line-height_null {
  line-height: 0;
}

.header__menu-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--gradient);
  left: 0;
  bottom: -3px;
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.header__menu-link_line-height_null::after {
  bottom: -10px;
}

.header__menu-link:hover {
  opacity: 0.8;
}

.header__menu-link:hover::after {
  width: 100%;
  opacity: 1;
}

.header__auth {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__mobile-menu {
  position: absolute;
  top: 133px;
  right: 0;
  transform: translateY(-100%);
  z-index: 2;
}

@media (max-width: 850px) {
  .header {
    padding-bottom: 30px;
  }
  .header__menu {
    display: none;
  }

  .header__auth {
    display: none;
  }
}
