.hero {
  background-color: var(--clr-dark-300);
  padding-bottom: 136px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__image {
  max-width: 691px;
  width: 100%;
  height: auto;
  display: block;
}

.hero__content {
  max-width: 850px;
  z-index: 1;
}

.hero__title {
  margin-bottom: 30px;
}

.hero__paragraph {
  margin-bottom: 60px;
}

.hero__image-container {
  position: relative;
}

.hero__image-container::after {
  content: "";
  position: absolute;
  width: 591px;
  height: 591px;
  top: 0;
  left: 319px;
  background: var(--clr-primary-100);
  opacity: 0.2;
  filter: blur(200px);
  border-radius: 10px;
}

@media (max-width: 1620px) {
  .hero__container {
    gap: 40px;
  }
}

@media (max-width: 1440px) {
  .hero__content {
    max-width: 770px;
  }
}

@media (max-width: 1280px) {
  .hero__content {
    max-width: 570px;
  }
}

@media (max-width: 1024px) {
  .hero {
    padding-bottom: 96px;
  }
  .hero__paragraph {
    margin-bottom: 30px;
  }

  .hero__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 940px) {
  .hero__container {
    flex-direction: column;
  }

  .hero__image {
    max-width: 421px;
  }

  .hero__image-container::after {
    width: 320px;
    height: 320px;
    left: 0;
    right: 0;
    top: 250px;
    filter: blur(150px);
  }
}

@media (max-width: 480px) {
  .hero {
    padding-bottom: 66px;
  }
  .hero__image-container::after {
    width: 280px;
    height: 280px;
  }
}
