.title-secondary {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  color: var(--clr-light-100);
  margin: 0;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .title-secondary {
    font-size: 48px;
    line-height: 60px;
  }
}
